.magnetic {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    will-change: transform;
    transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    contain: layout style paint;
}